<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
        <th>Icon</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <%= render @post_icons %>
    </tbody>
  </table>
</div>
<div class="flex justify-center my-8">
  <%= paginate @post_icons %>
</div>