<header>
  <div class="navbar">
    <div class="flex-1">
      <%= link_to 'A.Icon', root_path, class: "btn btn-ghost text-3xl font-header_name" %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 font-body_style">
        <li><%= link_to 'みんなのアイコン',  icons_path %></li>
        <li><%= link_to 'ログイン', login_path %></li>
      </ul>
    </div>
  </div>
</header>
