<header>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <%= link_to 'あいこん屋', root_path, class: "btn btn-ghost text-xl" %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to 'みんなのアイコン',  icons_path %></li>
        <li><%= link_to 'ログイン', login_path %></li>
      </ul>
    </div>
  </div>
</header>
