<footer class="footer footer-center p-10 text-base-content rounded  flex flex-col items-center">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to '利用規約',privacy_policy_path, class: "link link-hover"%>
    <%= link_to 'プライバシーポリシー',privacy_policy_path, class: "link link-hover"%>
    <%= link_to 'お問い合わせ', "https://twitter.com/takuywater", class: "link link-hover" %>
  </nav> 
  <aside>
    <p>Copyright © A.Icon </p>
  </aside>
</footer>