<footer class="footer footer-center p-10 text-base-content rounded  flex flex-col items-center">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover">利用規約</a>
    <a class="link link-hover">プライバシーポリシー</a>
    <a class="link link-hover">お問い合わせ</a>
  </nav> 
  <aside>
    <p>Copyright © </p>
  </aside>
</footer>