<div class="card w-96 bg-base-100 shadow-xl mx-auto">
  <div class="card-body">
    <div class="card-actions justify-center">
      <%= link_to "ユーザー", admin_users_path, class: 'btn btn-wide' %>
      <%= link_to "生成アイコン", admin_created_icons_path, class: 'btn btn-wide' %>
      <%= link_to "投稿アイコン", admin_post_icons_path, class: 'btn btn-wide' %>
    </div>
  </div>
</div>