<h1 class="text-3xl font-semibold text-center m-2">みんなのアイコン</h1>
<%= render 'search' %>
<div class="flex flex-wrap justify-center">
	<% if @icons.present? %>
		<% @icons.each do |icon| %>
			<% if icon.is_a?(PostIcon) %>
				<%= render 'post_icon', icon: icon %>
			<% elsif icon.is_a?(CreatedIcon) %>
				<%= render 'created_icon', icon: icon %>
			<% end %>
		<% end %>
	<% else %>
		<p>投稿がありません。</p>
	<% end %>
</div>

<div class="flex flex-wrap justify-center">
  <%= paginate @icons %>
</div>